@page
@model PrinterShop.Pages.ProductSearchPageModel
@{
}

@if (Model.Results != null)
{
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var product in Model.Results)
            {
                string Imagepath = "/Images/Allimages/" + product.ProductId.ToLower() + ".png";

                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@Imagepath" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Price: @product.Price</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <form method="post">
                                <button type="submit" name="selectedProductId" value="@product.ProductId" class="btn btn-outline-primary" asp-page-handler="AddToCart">
                                    Tilføj
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}


